<div ng-controller="drCorController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cor
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Cor
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" name="form" ng-submit="save(drCor);">
                <input class="form-control hidden" value="0" ng-model="drCor.cor_codigo" id="cor_codigo">
                <div class="form-group">
                    <label for="cor_codigocor">Código</label>
                    <input type="text" class="form-control" name="cor_codigo" ng-model="drCor.cor_codigocor" id="cor_codigocor" maxlength="20">
                </div>

                <div class="form-group required">
                    <label>Descrição<strong class="text-danger">*</strong></label>
                    <input class="form-control" ng-model="drCor.cor_descricao" id="cor_descricao" required maxlength="100">
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-default" ng-click="requestPage('lst/drCorLst');">Cancelar</button>
            </form>
        </div>
    </div>
</div>
