<div ng-controller="drEtapasProdutoController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Produto
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Produto
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" ng-submit="save(drEtapasProduto);">
                <input class="form-control hidden" ng-model="drEtapasProduto.etp_codigo" id="etp_codigo">
                <div class="form-group">
                    <label>Produto</label>
                    <input type="text" class="form-control" ng-model="drProduto.pro_codigopro + ' - ' + drProduto.pro_descricao" disabled>
                </div>
                <div class="form-group">
                    <label>Setor</label>
                    <select class="form-control" name="drSetor" ng-model="drEtapasProduto.drSetor" ng-options="drSetor.set_descricao for drSetor in drSetorLst track by drSetor.set_codigo">
                    </select>
                </div>
                <div class="form-group required">
                    <label>Ordem do Setor</label>
                    <input class="form-control" type="number" min="1" step="1" ng-model="drEtapasProduto.etp_ordem" id="etp_ordem" required>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" ng-click="requestPage('lst/drProdutoLst');" class="btn btn-default">Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortType = 'pro_codigo';
                                            sortReverse = !sortReverse">
                                    Referência
                                    <span ng-show="sortType === 'pro_codigo' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType === 'pro_codigo' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'set_descricao';
                                            sortReverse = !sortReverse">
                                    Setor
                                    <span ng-show="sortType === 'set_descricao' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType === 'set_descricao' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortType = 'etp_ordem';
                                            sortReverse = !sortReverse">
                                    Ordem do Setor
                                    <span ng-show="sortType === 'etp_ordem' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType === 'etp_ordem' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th class="col-button-header">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="drEtapasProduto.length === 0 && http.pendingRequests.length == 0">
                            <td colspan="1000">Nenhum registro encontrado :(</td>
                        </tr>
                        <tr ng-repeat="drEtapasProduto in drEtapasProdutoLst| orderBy:sortType:sortReverse | filter:search">
                            <td>{{drEtapasProduto.drProduto.pro_codigopro}}</td>
                            <td>{{drEtapasProduto.drSetor.set_descricao}}</td>
                            <td>{{drEtapasProduto.etp_ordem}}</td>
                            <td class="text-center">
                                <a href="#" ng-click="delete(drEtapasProduto);">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
