<div ng-controller="drPessoasController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Colaborador
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Colaborador
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form role="form"  name="form" ng-submit="save(drPessoas);">
                <input class="form-control hidden" ng-model="drPessoas.pes_codigo" id="pes_codigo">
                <div class="form-group required">
                    <label>Nome Completo</label>
                    <input class="form-control text-capitalize" type="text" ng-model="drPessoas.pes_nome" id="pes_nome" required maxlength="100">
                </div>
                <div class="form-group required">
                    <label>CPF</label>
                    <input class="form-control" type="text" ng-model="drPessoas.pes_cpf" id="pes_cpf" maxlength="11" oninput="this.setCustomValidity(validateCPF(this.value) ? '' : 'CPF inválido')" required pattern="[0-9]{11}" title="O CPF deve ter no mínimo 11 números e ser válido">
                </div>
                <div class="form-group">
                    <label>RG</label>
                    <input class="form-control" type="text" ng-model="drPessoas.pes_rg" id="pes_rg" maxlength="20">
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input class="form-control" type="email" ng-model="drPessoas.pes_email" id="pes_email" maxlenght="100">
                </div>
                <div class="form-group required">
                    <label>Login</label>
                    <input class="form-control" type="text" ng-model="drPessoas.pes_login" id="pes_login" required maxlength="50">
                </div>
                <div class="form-group required">
                    <label>Password</label>
                    <input class="form-control" type="password" ng-model="drPessoas.pes_password" id="pes_password" required maxlength="32" minlength="6">
                </div>
                <div class="form-group required">
                    <label>Ativo?</label>
                    <input type="checkbox" ng-model="drPessoas.pes_status" id="pes_status" checked  ="true"/>
                </div>
                <div class="form-group required">
                    <label>Setor</label>
                    <select class="form-control" ng-model="drPessoas.drSetor" ng-options="drSetor.set_descricao for drSetor in drSetorLst track by drSetor.set_codigo" required>
                    </select>
                </div>
                <div class="form-group required">
                    <label>Nível de Acesso</label>
                    <select class="form-control" ng-model="drPessoas.pes_nivelacesso" convert-to-number>
                        <option value="3">Chefe de Produção</option>
                        <option value="1">Gerente de Produção</option>
                        <option value="2">Gerente de Setor</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-default" ng-click="requestPage('lst/drPessoasLst');">Cancelar</button>
            </form>
        </div>
    </div>
</div>