<div ng-controller="drOrdemProducaoController" id="drOrdemProdutosLst">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Itens da Ordem
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Início</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Itens da Ordem
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <form role="form">
                <input class="form-control hidden" value="0" ng-model="drOrdemProducao.ord_codigo" disabled id="ord_codigo">
                <div class="form-group">
                    <label>Produto</label>
                    <select class="form-control" name="drProduto" ng-model="drOrdemProducao.drProduto" disabled ng-options="drProduto.pro_codigopro+' - '+drProduto.pro_descricao for drProduto in drProdutoLst track by drProduto.pro_codigo" required>
                    </select>
                </div>
                <div class="form-group">
                    <label>Data de Término da Produção</label>
                    <input class="form-control" type="date" ng-model="drOrdemProducao.ord_dataproducao" id="ord_dataproducao" disabled required>
                </div>
                <div class="form-group">
                    <label>Data de Entrega</label>
                    <input class="form-control" type="date" ng-model="drOrdemProducao.ord_dataentrega" id="ord_dataentrega" disabled required>
                </div>
                <div class="form-group">
                    <label>Observações</label>
                    <textarea class="form-control" type="textarea" ng-model="drOrdemProducao.ord_observacao" id="ord_observacao" disabled></textarea>
                </div>
                <div class="form-group">
                    <label class="" for="ord_impressa">Imprimir ao Salvar?</label>
                    <input ng-checked="false" style="padding-top: 10px;" type="checkbox" value="false" name="ord_impressa" ng-model="drOrdemProducao.ord_impressa" id="ord_impressa" disabled/>
                </div>
                <div class="form-group">
                    <label>Situação</label>
                    <select class="form-control" name="ord_situacao" ng-model="drOrdemProducao.ord_situacao" required disabled>
                        <option value='P'>Em Produção</option>
                        <option value='F'>Finalizada</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Cor</th>
                            <th style='text-align: center; margin-right: 7px;' ng-repeat="drTamanho in drTamanhoLst| orderBy : 'tam_ordem' : false ">
                                {{drTamanho.tam_sigla}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="drCor.length === 0 && http.pendingRequests.length === 0">
                            <td colspan="1000">Nenhum registro encontrado :(</td>
                        </tr>
                        <tr ng-repeat="record in records| orderBy : 'drCor.cor_descricao' : false ">
                            <td>{{record.drCor.cor_descricao}}</td>
                            <td style="text-align: center;" ng-repeat="drTamanho in record.drTamanhoLst| orderBy : 'tam_ordem' : false ">
                                {{drTamanho.qtde}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
